body {
    font-family: 'Arimo', sans-serif; 
}

.header {
   display: flex;
   justify-content: flex-end;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
}

ul {
 display: flex;
 padding: 20px;
 margin: 40px;
 border: 20px;
}
.hero {
    background-color: #3D4750;
    height: 445px;
    /* be careful when setting the width for you footer in px, especially when there's a background color. Screensizes can vary so on some larger screens, your footer may not stretch the entire width if you limit it by a certain pixel amount. I would recommend using width:100%; like below */
    width: 100%;
}

.rectangle {
    height: 549px;
    width: 1126px;
    background-color: #6A8D92;

}

.rectangle2 {
    height: 419px;
    width: 562px;
    background-color: #3D4750
}

.rectangle3 {
    height: 419px;
    width: 562px;
    background-color: #7a8b99;  
}


.footer {
    height: 200px;
    /* same width comment as above */
    width:  100%;
    background-color:  #6A8D92;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content:baseline;
    
}

.h1 {
    font-size: 72px;
    color:  #A8036C;
}

.h3 {
    font-size: 50px;
    color: #FFFFFF;
    font: 'Lucida Sans';

}

.h2 {
    font-size: 36px;
    color: #3d4750
}

.p {
    font-size:  24px;
    color: #323638;
}

.nav-links {
    display: flex;
    
    margin: 10px;
    border: 20px;

}


.bottom {
    display: inline-flex;
}