้/* head, nav */
       
/* made the following changes to img, .logo class, #logo-name id, .navbar class - when you're naming html classes and id's - even though the direction in the homework stated to name it inline-block, you should avoid naming classes and id's a css style element. this makes it difficult to make sense of what css code is actually necessary to make your design work. inline-blocks were necessary for your nav but it also required flex boxes and other styling elements as well!*/
img {
    width: 23%;
    padding: 1%;
}
.logo{
    display: flex;
    align-items: center;

}
#logo-name {
    padding-left: 10px;
    padding-right: 10px;
}

/* added navbar class here */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

/* got rid of nav css element here */

nav, ul{
    /*got rid of width:50 and padding-left: 100px;%*/
    font-family: 'Chivo', sans-serif;
    
}

/* added .navlist and .navitem */
.navlist {
    list-style-type: none;
}
.navitem {
    display: inline-block;
}

.heroImg{
 height: 800px;
 padding: 25px;
}

.content{
    width: 500px;
    margin: 0 auto;
    height: auto;
    margin-top: 25px;
}

footer{
    background-color: #FBE5DB;
    width: 100%;
    padding: 25px;
    margin-top: 20px;
    border-top: 3px solid #E7B5B5 ;
   
}

header {
    border-bottom: 3px solid #E7B5B5 ;
}
h1 {
    font-family: 'Chivo', sans-serif;
    font-weight: bold;
    padding: auto;
    font-size: larger;
}
h2{
    font-family: 'Chivo', sans-serif;
    font-weight: bold;
    padding: auto;
    font-size:large;

}
/* ul{
    display: inline-block;
    vertical-align:top;
    padding: center;
    font-family: 'Chivo';
    border-style: solid;
    border-width: 2px;

  
} */


li, p{
    padding: 10px;
    font-family: 'Chivo', sans-serif;
}

button{
    color: rgb(196, 94, 111);
    font-weight:bold;
    background-color: #FBE5DB;
    padding: 10px;
    box-shadow: 5px 5px #f3be8c;
}
/* Row Style, Projects section */

.text {
    background: rgba(209, 125, 86, 0.808);
    width: 100%;
    padding: 20px 40px;
    color: white;
    font-family: 'Chivo', sans-serif;
    border-radius: 2%;
}

.row{
    display: flex;
    align-items: center;
    height: 500px;
    width: 1000px;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;
}
/* put other project name with this group */

.project1, .project2, .project3, .project4{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    
    background-size: cover;
    cursor: pointer;
    border-radius: 5%;
}

.project1{
    
    background-image: url("../image/iroam.png");
    background-repeat: no-repeat;
    background-position: center;
}
.project2{
    background-image: url("../image/Moonshot.png");
    background-repeat: no-repeat;
    background-position: center;
}
.project3{
    background-image: url("../image/FTC.png");
    background-repeat: no-repeat;
    background-position: center;
}
.project4{
    background-image: url("../image/FFR.png");
    background-repeat: no-repeat;
    background-position: center;
}
