.navbar{
    display:grid;
    /* make sure that your columns add up to 100%. Right now, your nav bar will only ever cover 70% of your page because you have 20% 50%. This is fine as long as your nav bar is centered. You can do this by using justify-content:center instead of align-items:center. Otherwise, grid-template-columns should be 20% 80%. I made the change for you to look at below.*/
    grid-template-columns: 20% 80%;
    align-items:center;
    position: sticky;
}
.nav-items{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    position: sticky;
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    all: "images/lady.jpg";
    display:flex;
    margin-left: auto;
    margin-right: auto;
    position: static;
    max-width: 100%;
    height: auto;
    /* to space your items like in your design, utilize justify-content like below. you can also experiment with float styling and padding */
    justify-content: space-around;
}

/* be careful when using postion:relative. I recommend watching a tutorial on how to use position:relative and position:aboslute in conjunction with one another! You also had left:250% which was pushing your textbox all the way to the right because you had such a large amount of padding. Typically we won't have such large padding. If you have to use padding 100% or higher, there's another way to structure in css */
.text{
    text-align: center;
    /* removed position:relative */
    top: 50%;
    /* removed left:250% and transform */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgb(255, 235, 204);

}
.profile-img img {
    width: 75%;
}

.footer{
    display:flex;
    justify-content:space-evenly;
    list-style-type: none;
    background-color: rgb(255, 235, 204);
    padding: 20px;
    margin-top: 3cm;
    margin-left: 1cm;
    margin-right: 1cm;
    font-family: Arial, Helvetica, sans-serif;
}