.logo{
width: 23%;
padding: 1%;
display: inline-flex;
text-align: center;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
}

.navigation {
    width: 100%;
    padding:1%;
    margin-left: auto;
    display: inline-block;
    background-color: #BB6BD9;
    text-align: center;
    
  
}
.heroImg {
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* with images, we typically don't use text-align but you can use justify-content or align-content */
    text-align: center;
}
.content{
    width: 500px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #BB6BD9;
    color: white;
    text-align: center;
    padding: 2%;
}
.ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.h1{
    color:Black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
}