
html, body {
height: 100%;
margin:0;
background: #FFFFFF;
font-family: Montserrat;
font-weight: normal;
}


/*nav bar background */
.container{
width: 95%;
margin: 0auto;
height: 250px;
}
header{
background: #F98267;
}
header::after{
content:'';
display: table;
clear:both;
}

/* looks like there's a small typo in your code here on line 31, you had "width; 20px;" instead of width:20px - changed it for you */
.logo{
float: left;
padding: 25px 20px;
height: 20px;
width: 20px;
}

nav{
float:right;
}

nav ul{
margin:0;
padding: 0;
list-style: none;
 
}

nav li{
display: inline-block;
margin-left: 50px;
padding-top: 30px;
}

nav a{
color: #FFFFFF;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
}

/* curious what you're planning on putting in your page-wrapper class! currently the page wrapper class is making it so that your project/image grid is significantly below you projects title because you created a min-height of 100% */
.page-wrapper{
min-height: 100%;
margin-bottom: -50px;
}

.photo{
position: absolute;
width: 400px;
height: 382px;
left: 70px;
top: 120px;
}

.header{
position: absolute;
width: 690px;
height: 72px;
left: 460px;
top: 155px;
font-size: 50px;
line-height: 61px;
color: #FFFFFF;
}

.intro{
position: absolute;
width: 734px;
height: 100px;
left: 460px;
top: 250px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 70px;
text-align: justify;
color: #000000;
}

.title-project{
margin: 100px;
position: absolute;
text-align: center;
width: 170px;
height: 50px;
left: 450px;
top: 500px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 43px;
color: #000000;
}

      
.container1{
display:grid;
grid-template-columns: repeat(2, 1fr);
grid-auto-rows:300px;
grid-gap:20px;
grid-auto-flow: dense;
padding: 20px;
min-height: 100%;
}
      
.gallery-item{
width:100%;
height:100%;
position:relative;
}
      
.gallery-item .image{
width:100%;
height:100%;
overflow:hidden;
}
      
.gallery-item .image img{
width:100%;
height:100%;
object-fit: cover;
object-position:50% 50%;
}
      

/* FOOTER */
.footer{
background: #F98267;
position: absolute;
height: auto;
width: 100%;
padding-top: 15px;
margin-top: auto;
  }
  
.footer .footer-bottom{
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
  
  }

/* looks like you have a small typo here too - space between . and footer-content, deleted the space for you */
.footer .footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
    
  }
  
  
  .lets-connect{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF
    
  }
  .footer-text{
    text-align: center;
    font-size: 15px;
    color: #FFFFFF
  }
  
  .socials {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socials li{
    margin: 0 10px;
  }
  
  .socials a{
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .socials a i{
    font-size: 2.5rem;
    transition: color .4s ease;
    
  }
  
  .socials a:hover i{
    color: #FBFF39;
  }